* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #faf5ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 50px;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 40px;
}

.sidebar ul li a img {
  width: 30px;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 40px;
  background-image: url("Bimg/newwww.jpg"); /* Set the background image */
    background-size: cover; /* Makes sure the image covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/

h1 {
  text-align: center;
  font-size: 2rem;
  color: #b48773;
  margin-bottom: 30px;
}

/* Form Container */
.form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}
.form-container input,.form-container textarea  {
  padding: 10px;
  border: 1px solid #b48773;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fff3f3;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  height: 100px;
  resize: none;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #b48773;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
}

/* Profile Section */
.profile-section {
  position: absolute;
  top: 35px;
  right: 40px;
}

.profile-pic {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
}
